@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkomen till  Rastalex!</h1>
    <p>Här kan du handla allt du behöver för en riktig festmåltid!</p>
</div>
